* {
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}



.card {
    padding: 8px;
}

.title,
.content,
.button-container {
    background-color: lightblue;
    margin: 8px;
}

.title {
    font-size: 16px;
    padding: 8px;
}

.content {
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 8px;
    padding-right: 8px;
}

.button-container {
    text-align: center;
    padding: 8px;
}

button {
    display: block;
    margin: 0 auto;
}





/* .one {
    padding: 32px;
    margin: 12px;
    background: pink;
    border: blue solid
}

.two {
    margin: 32px;
    margin-bottom: 48px;
    background: blue;
    border: purple solid
}

.three {
    margin-left: 500px;
    background: orange;
    border: darkorange solid;
}

.para,
.small-para {
    color: hsl(0, 0%, 0%);
    font-weight: 800;
}


.para {
    font-size: 22px;
}

.small-para {
    font-size: 14px;
    font-weight: 800;
}


#confirm-button {
    background: green;
    color: white;
    font-weight: bold;
}

.button {
    background-color: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    font-size: 20px;
}

.text .child {
    color: rgb(0, 0, 0);
    font-weight: 800;
    font-size: 14px;
}

div.text {
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 100;
} */


/* Descendants */
/* .ancestor .styled {
    background-color: yellow;
    color: red;
    font-family: "Helvetics", "Times New Roman", "Sans-Derif";
    font-size: 28px;
} */

/* This is an example of me grouping selectors so they share the same styles. */
/* .yellowclickme,
.blackclickme {
    font-family: "Helvetica", "Times New Roman", "Sans-Serif";
    font-size: 28px;
}

.blackclickme {
    background-color: black;
    color: white;
}

.yellowclickme {
    background-color: yellow;
    color: black;
}

.odd {
    background-color: pink;
    font-family: "Verdana", "DejaVu Sans", "sans-serif";
}

#css2 {
    font-size: 36px;
    color: blue;
}

#css3 {
    font-size: 24px;
}

#css4 {
    font-size: 24px;
    background-color: lightgreen;
    font-weight: bold;
}

#css-head {
    color: blue
} */